@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    width: 100%;
    height: 100vh;
    
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #030018;
    font-family: 'Press Start 2P', sans-serif;
}

#main-play-area {
    width: 600px;
    height: 600px;
    
    background-image: url(img/space.png);
}

.game-instructions {
    top: 0px;
    left: 12.5rem;
    font-size: 12px;
    
    color: white;
    position: relative;
}

.start-button {
    top: 10rem;
    left: 15rem;

    color: white;
    cursor: pointer;
    position: relative;
}

.start-button h1:hover {
    color: rgb(53, 143, 53);
}

.player-shooter {
    width: 70px;
    height: 60px;

    top: 250px;
    left: 20px;
    position: relative;
}

.laser {
    width: 40px;
    height: 30px;
    position: relative;
}

.alien {
    width: 70px;
    height: 60px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    width: 70px;
    height: 60px;

    opacity: 0;
    position: relative;
}